* {
    margin: 0;
    padding: 0;
}
/* 그리드 */
body {
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 90px 1fr 90px;
    grid-template-areas:
    'header'
    'main'
    'footer';
}

header {
    grid-area: header;
}

main {
    grid-area: main;
}

footer {
    grid-area: footer;
}
/* 그리드 */

/* 헤더 영역 */
header {
    height: 90px;
    display: flex;
    justify-content: center;
    align-items: center;
}

ul {
    list-style: none;
}

li {
    float: left;
    margin-right: 10px;
}

.headerdis {
    display: flex;
    align-items: center;
}

.nav_ul {
    margin-left: 10px;
}

.login_ul {
    margin-left: 900px;
}

a {
    text-decoration: none;
    color: gray;
}

a:hover {
    font-weight: 900;
    color: black;
}
/* 헤더 영역 */
/* 푸터 영역 */
footer {
    display: flex;
    background-color: black;
    justify-content: center;
}

footer span {
    color: white;
    text-align: center;
    font-size: 13px;
}
/* 푸터 영역 */
